{{ define "register" }}
<div id="register-form-modal" class="modal">
  <ul>
    <form id="register-form">
      <h3>Create an account</h3>
      <li>
        <input
          maxlength="12"
          type="text"
          placeholder="Username"
          class="form-input"
        />
      </li>
      <li>
        <input type="email" placeholder="Email" class="form-input" />
      </li>
      <li>
        <input type="password" placeholder="Password" class="form-input" />
      </li>
      <li>
        <input
          type="password"
          placeholder="Confirm Password"
          class="form-input"
        />
      </li>

      <li>
        <button type="submit" class="submit-btn">Sign Up</button>
      </li>
      <li>
        <span type="button" class="close-btn">&times; </span>
      </li>
    </form>
  </ul>
</div>
{{end}}
