:root {
  font-size: 62.5%;
}

* {
  font-family: "Courier New", Courier, monospace;
  font-size: 3.2rem;
}

.error-header {
  font-size: 5.44rem;
  text-align: center;
}

.error {
  text-align: center;
}

.main-page {
  text-align: left;
}

.back {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.6rem;
}

#container {
  width: 70%;
  margin: 30% auto;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  animation: glitch1 2.5s infinite;
}

.main-page {
  color: aliceblue;
}

.button {
  display: flex;
  margin: auto;
  align-items: center;
  background-image: linear-gradient(200deg, #cb22c3, #342886, #2274cb);
  border: 0;
  border-radius: 0.8rem;
  box-shadow: rgba(151, 65, 252, 0.2) 0 1.5rem 3rem -0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 14rem;
  padding: 1.9rem 2.4rem;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  border: 0.2rem solid #fff;
  -moz-box-shadow: 0rem 0.6rem 0.5rem #cb22c3;
  -webkit-box-shadow: 0rem 0.6rem 0.5rem #cb22c3;
  box-shadow: 0.2rem 0.6rem 0.5rem #cb22c3;
}

.nice {
  display: inline-block;
}

.button:active,
.button:hover {
  border: #cb22c3 0.2rem solid;
  cursor: pointer;
}

/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

blink {
  animation: 2s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.error {
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(0.2rem, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-0.2rem, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

div:before,
div:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(0.2rem, -0.2rem);
  }
  4%,
  60% {
    transform: translate(-0.2rem, 0.2rem);
  }
  62% {
    transform: translate(1.3rem, -0.1rem) skew(-13deg);
  }
}

div:after {
  animation: glitchBottom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom {
  2%,
  64% {
    transform: translate(-0.2rem, 0);
  }
  4%,
  60% {
    transform: translate(-0.2rem, 0);
  }
  62% {
    transform: translate(-2.2rem, 0.5rem) skew(21deg);
  }
}

@keyframes blinking {
  0% {
    background-color: #ffb8b8;
  }
  100% {
    background-color: #fd1b02;
  }
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: aliceblue;
  background-color: #000;
  opacity: 0.8;
  background-image: radial-gradient(
      #cb22c3 0.12000000000000002rem,
      transparent 0.12000000000000002rem
    ),
    radial-gradient(#cb22c3 0.12000000000000002rem, #000 0.12000000000000002rem);
  background-size: 4.8rem 4.8rem;
  background-position: 0 0, 2.4rem 2.4rem;
}
