{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/header.css" />
    <style>
      @font-face {
        font-family: "Medori Sans Regular";
        src: url(fonts/Meedori\ Sans\ Regular.ttf);
      }
    </style>
  </head>

  <body>
    <header id="header">
      <a href="https://discord.gg/v26C5zTedP" class="logo">
        <img src="img/text.png" alt="logo" class="logo" />
      </a>
      <a href="/">
        <h1>FORUM</h1>
      </a>
      <nav>
        <ul>
          <!-- <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li> -->
          <li>
            <a id="login-btn" style="cursor: pointer">Login</a>
          </li>
          <li>
            <a id="register-btn" style="cursor: pointer">Register</a>
          </li>
        </ul>
      </nav>

      <div id="post-form-modal" class="modal">
        <ul>
          <form id="post-form">
            <h3>New Post</h3>
            <li>
              <input
                maxlength="21"
                type="text"
                placeholder="Title"
                class="form-input"
                id="form-input-title"
              />
            </li>
            <li>
              <textarea
                maxlength="2000"
                name="post"
                id="post"
                cols="50"
                rows="30"
              ></textarea>
            </li>
            <div class="counter">
              <span id="charsLeft"></span> characters left
            </div>
            <li>
              <button type="submit" class="submit-btn">Submit New Post</button>
            </li>
            <li>
              <span type="button" class="close-btn2">&times; </span>
            </li>
          </form>
        </ul>
      </div>

      <div id="comment-form-modal" class="modal">
        <ul>
          <form id="comment-form">
            <h3>New Comment</h3>
            <li>
              <textarea
                maxlength="2000"
                name="comment"
                id="comment"
                cols="50"
                rows="30"
              ></textarea>
            </li>
            <div class="counter">
              <span id="charsLeft"></span> characters left
            </div>
            <li>
              <button type="submit" class="submit-btn">
                Submit New Comment
              </button>
            </li>
            <li>
              <span type="button" class="close-btn3">&times; </span>
            </li>
          </form>
        </ul>
      </div>
    </header>
  </body>
</html>
{{end}}
