{{ define "login" }}
<div class="dim" id="dim"></div>
<div id="login-form-modal" class="modal">
  <ul>
    <form id="login-form">
      <h3>Welcome back!</h3>
      <li>
        <input
          maxlength="12"
          type="text"
          placeholder="Username"
          class="form-input"
        />
      </li>
      <li>
        <input type="password" placeholder="Password" class="form-input" />
      </li>
      <li>
        <button type="submit" class="submit-btn">Login</button>
      </li>
      <li>
        <span type="button" class="close-btn1">&times; </span>
      </li>
    </form>
  </ul>
</div>
{{end}}
