<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/header.css" />
    <style>
      @font-face {
        font-family: "Medori Sans Regular";
        src: url("../../back-end/assets/font/Meedori\ Sans\ Regular.ttf")
          format("truetype");
      }
    </style>
  </head>
  <body>
    <header id="header">
      <img src="../../back-end/assets/images/text.png" alt="logo" class="logo" />
      <h1>FORUM</h1>
      <nav>
        <ul>
          <li><a href="#registration">Register/Login</a></li>
          <li><a href="#forum">Forum</a></li>
          <li><a href="#info">Info</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
