<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/home.css" />
    <!-- <link rel="stylesheet" href="../css/background.css"> -->
    <title>DNA DIFF</title>
  </head>

  <body>
    <div id="header-placeholder"></div>
  </body>
  <script src="../../back-end/JS/header.js"></script>
  <button id="post-btn">New post</button>
  <button id="comment-btn">Comment</button>
  <script>
    loadHeader();
  </script>
</html>
