<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/home.css" />
  <!-- <link rel="stylesheet" href="../css/background.css"> -->
  <title>DNA DIFF</title>
</head>

<body>
  <div id="header-placeholder"></div>
  <div class="container">
    <div class="content">
      <h1>WELCOME TO DNA DIFF</h1>
    </div>
    <div class="post">
      <ul>
        <li>
          Title
        </li>
      </ul>
      <div class="content">
        <p>I recently enjoyed bird watching and drinking mineral water from my local spring</p>
      </div>
      <div class="buttons">
        <button>Like</button>
        <button>Dislike</button>
        <button>Donate</button>
        <button>Comment</button>
      </div>
    </div>
  </div>
</body>
<script src="../../back-end/JS/header.js"></script>

<script>
  loadHeader();
</script>

</html>