<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>DNA DIFF</title>
  </head>
  <body>
    <div id="header-placeholder"></div>
    <p>NICE1</p>
    <p>NICE2</p>
    <p>NICE3</p>
    <p>NICE4</p>
    <p>NICE5</p>
    <p>NICE6</p>
    <p>NICE7</p>
    <p>NICE8</p>
    <p>NICE9</p>
    <p>NICE10</p>
  </body>
  <script src="../../back-end/JS/header.js"></script>
  <script>
    loadHeader();
  </script>
</html>
